{% extends 'alunos/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-custom text-center">
                <h3>Login do Aluno</h3>
            </div>
            <div class="card-body p-4">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        Seu nome de usuário e senha não correspondem. Tente novamente.
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Nome de Usuário</label>
                        <input type="text" name="username" class="form-control" required id="id_username" placeholder="O nome de usuário que você criou">
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Senha</label>
                        <input type="password" name="password" class="form-control" required id="id_password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'reset_password' %}">Esqueceu sua senha?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}