{% extends 'alunos/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Redefinir Senha</h3>
            </div>
            <div class="card-body p-4">
                <p>Por favor, insira seu endereço de e-mail para enviarmos as instruções de redefinição de senha.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_email" class="form-label">E-mail</label>
                        <input type="email" name="email" class="form-control" required id="id_email">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Enviar Link de Redefinição</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}