{% extends 'alunos/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Digite sua Nova Senha</h3>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}