{% extends 'alunos/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="card p-5">
            <h1 class="display-5 text-success">Senha Redefinida!</h1>
            <p class="lead">Sua senha foi alterada com sucesso. Você já pode fazer o login com sua nova senha.</p>
            <hr>
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">Ir para o Login</a>
        </div>
    </div>
</div>
{% endblock %}