{% extends 'alunos/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <div class="card p-5">
            <h1 class="display-4 text-success">Inscrição Realizada com Sucesso!</h1>
            <p class="lead">Seus dados foram enviados e estão aguardando validação pela nossa equipe. Obrigado!</p>
            <hr>
            <div class="mt-4">
                <a href="{% url 'inscricao_aluno' %}" class="btn btn-secondary me-2">Realizar Nova Inscrição</a>
                <a href="{% url 'lista_beneficios' %}" class="btn btn-primary">Ver Benefícios</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}